<footer id="main-footer">
    <p id="rights-reserved">&copy; Coding Ninjas. All Rights Reserved</p>
        <a href="/">Home</a>
        <a href="/users/profile" id="profile-footer">Profile</a>
</footer>