<link rel="stylesheet" href="<%=assetPath('css/user_sign_in.css')%>">

<div id="container">
    <div id="form-container">
        <h1>Sign In</h1>

        <form action="/users/create-session" method="POST" id="signIn-form">
            <input type="email" name="email" placeholder="Email"  required><br>
            <input type="password" name="password" placeholder="Password"  required><br>
            <input type="submit" value="Sign In">

        </form>
        <div id="forgot-google-signin">
            <p id="forgot">
                <a href="/reset/forgot">Forgot Password?</a>
            </p>
            <p id="google-signin">
                <a href="/users/auth/google">Google Sign In/Sign Up</a>
            </p>
        </div>
    </div>
</div>