#main-footer{
    background-color: #757475;
    height: 60px;
    color: white;
    border-top: 1px solid;

    a{
        text-decoration: none;
        color: white;
        display: block;
        margin-left: 25%;
        margin-top: -2.5%;
    }
    #profile-footer{
        margin-top: -.05%;
    }
    #rights-reserved{
        width: 20%;
        margin-left: 3%;
    }
}
