#header{
    background-color: blueviolet;
    display: flex;
    width: 100%;
    #logo{
        color: white;
        margin-left: 3%;
    }
    #list{
        display: flex;
        list-style: none;
        margin-left: 73%;
        margin-top: 2%;
    }
    #list a{
        color: white;
        text-decoration: none;
    }
}